body {
  font-family: 'Courier New', Courier, monospace;
}

.header {
  text-align: center;
  margin: 20px;
  border: 2px solid darkred;
  padding: 5px;
}

.header h1 {
  font-size: 50px;
}

.header h2 {
  font-size: 30px;
  font-style: italic;
}

.paragraph h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  margin-left: 254px;
  margin-top: 0px;
  border: 2px solid darkred;
  padding: 5px
}

.paragraph img {
  float: left;
  max-width: 200px;
  max-height: 200px;
  padding: 5px;
  padding-left: 0px;
}

.sidebar {
  width: 200px;
  float: left;
  margin: 20px;
  margin-top: 0px;
  border: 2px solid darkred;
  padding: 5px;
}

.sidebar h3 {
  text-align: center;
}

.sidebar img {
  max-width: 100%
}

.skill {
  text-decoration: underline;
}