.header {
  text-align: center;
  margin: 20px;
  border: 2px solid darkred;
  padding: 5px;
}

.header h1 {
  font-size: 50px;
}

.header h2 {
  font-size: 30px;
  font-style: italic;
}

.sidebar {
  width: 30%;
  float:left;
}

img {
  margin: 20px;
  width: 200px;
}